@font-face {
  font-family: bigJohnProLight;
  src: url("../fonts/Big John PRO/bigjohnpro-light.otf") format("opentype"); }

@font-face {
  font-family: bigJohnProRegular;
  src: url("../fonts/Big John PRO/bigjohnpro-regular.otf") format("opentype"); }

@font-face {
  font-family: bigJohnProBold;
  src: url("../fonts/Big John PRO/bigjohnpro-bold.otf") format("opentype"); }

@keyframes dropDown {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

@keyframes dropDownReverse {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }

@keyframes zoomHeaderBackground {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

@keyframes changeNavbarColorNonStickyTransparentToWhite {
  0% {
    background-color: transparent; }
  100% {
    background-color: #FFFFFF; } }

@keyframes changeNavbarColorNonStickyWhiteToTransparent {
  0% {
    background-color: #FFFFFF; }
  100% {
    background-color: transparent; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 37.5%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Rubik", "Sans Serif";
  max-width: 100vw;
  overflow-x: hidden; }
  body.hide-overflow {
    overflow-y: hidden; }

.margin-top-intro {
  margin-top: 6.5rem; }
  @media only screen and (max-width: 48em) {
    .margin-top-intro {
      margin-top: 7.5rem; } }

.margin-bottom-intro {
  margin-bottom: 6.5rem; }
  @media only screen and (max-width: 48em) {
    .margin-bottom-intro {
      margin-bottom: 7.5rem; } }

.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none; }

header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.main {
  width: 100%;
  display: flex;
  flex-direction: column; }

.header-background {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.logo {
  width: 45%;
  margin-top: 12vh;
  order: 1; }
  @media only screen and (max-width: 75em) {
    .logo {
      margin-top: 14vh;
      width: 60%; } }
  @media only screen and (max-width: 48em) {
    .logo {
      width: 70%;
      order: 2;
      margin-top: 20vh;
      margin-bottom: 45vh; } }
  @media only screen and (max-width: 36em) {
    .logo {
      width: 80%;
      order: 2;
      margin-top: 30vh;
      margin-bottom: 45vh; } }

.navbar__element {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  user-select: none; }
  @media only screen and (max-width: 75em) {
    .navbar__element {
      margin: 0 .45rem; } }
  @media only screen and (max-width: 48em) {
    .navbar__element {
      height: 12rem;
      border-bottom: 1px solid #FFFFFF; } }
  .navbar__element:hover::before {
    transform: scaleY(1);
    height: 100%; }
  .navbar__element::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #78D4F5;
    transform: scaleY(0);
    transition: all 0.3s;
    transform-origin: bottom;
    z-index: 1; }
    @media only screen and (max-width: 48em) {
      .navbar__element::before {
        content: none; } }
  .navbar__element.active {
    background-color: #78D4F5; }
  @media only screen and (min-width: 48.0625em) {
    .navbar__element.scroll:hover .navbar__link, .navbar__element.fixed:hover .navbar__link {
      color: #FFFFFF; } }

.navbar__items {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
  height: 100%; }
  @media only screen and (min-width: 48.0625em) {
    .navbar__items {
      border-left: 1px #FFFFFF solid; } }
  @media only screen and (max-width: 48em) {
    .navbar__items {
      position: absolute;
      width: 100%;
      height: calc(100vh - 10rem);
      background: #78D4F5;
      top: 100%;
      left: 0; } }
  @media only screen and (max-width: 48em) {
    .navbar__items--dissapear {
      display: none; } }
  @media only screen and (max-width: 48em) {
    .navbar__items--active {
      display: block;
      animation: dropDown .3s;
      transform-origin: top; } }
  @media only screen and (max-width: 48em) {
    .navbar__items--inactive {
      display: block;
      animation: dropDownReverse .3s;
      animation-fill-mode: forwards;
      transform-origin: top; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__items.scroll, .navbar__items.fixed {
      border-left: 1px #78D4F5 solid; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__items.non-scroll {
      border-left: 1px #FFFFFF solid; } }

.navbar__layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 8.5rem;
  order: 2;
  justify-content: center;
  background-color: transparent; }
  @media only screen and (min-width: 48.0625em) {
    .navbar__layout {
      border-top: 1px #FFFFFF solid; } }
  @media only screen and (max-width: 48em) {
    .navbar__layout {
      order: 1;
      width: 100%;
      justify-content: space-between;
      background-color: #78D4F5;
      position: fixed;
      top: 0; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__layout.scroll {
      animation: changeNavbarColorNonStickyTransparentToWhite 0.3s;
      animation-fill-mode: forwards;
      border-top: none;
      border-bottom: 1px #78D4F5 solid; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__layout.non-scroll {
      animation: changeNavbarColorNonStickyWhiteToTransparent 0.3s;
      animation-fill-mode: forwards; } }
  .navbar__layout.fixed {
    position: fixed;
    top: 0; }
    @media only screen and (min-width: 48.0625em) {
      .navbar__layout.fixed {
        animation: dropDown .3s;
        transform-origin: top;
        border-bottom: 1px #78D4F5 solid;
        background-color: #FFFFFF; } }

.navbar__link {
  font-family: bigJohnProRegular;
  padding: 0 1.5rem;
  letter-spacing: 1px;
  outline: none;
  user-select: none;
  position: relative;
  z-index: 2;
  -webkit-tap-highlight-color: transparent; }
  .navbar__link:link, .navbar__link:visited, .navbar__link:focus {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #FFFFFF; }
  @media only screen and (max-width: 75em) {
    .navbar__link {
      padding: 0 .5rem; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__link.scroll, .navbar__link.fixed {
      color: #B5B5B5; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__link.non-scroll {
      color: #FFFFFF; } }

.navbar__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%; }
  @media only screen and (max-width: 48em) {
    .navbar__list {
      width: 100%;
      display: block;
      text-align: center; } }

.navbar__logo-container {
  margin: 0 1.6rem;
  position: relative;
  width: 20rem;
  height: auto; }
  @media only screen and (max-width: 75em) {
    .navbar__logo-container {
      margin: 0 1rem; } }
  @media only screen and (max-width: 48em) {
    .navbar__logo-container {
      margin: 0 2rem; } }

.navbar__logo_img {
  width: 20rem;
  height: auto;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 48em) {
    .navbar__logo_img {
      top: .5rem; } }
  .navbar__logo_img--top {
    display: inline-block; }
  .navbar__logo_img--bottom {
    display: none; }
    @media only screen and (min-width: 48.0625em) {
      .navbar__logo_img--bottom.fixed {
        display: inline-block; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__logo_img--show {
      display: inline-block; } }
  @media only screen and (min-width: 48.0625em) {
    .navbar__logo_img--hide {
      display: none; } }

.navbar--menu-container {
  display: none; }
  @media only screen and (max-width: 48em) {
    .navbar--menu-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }

.navbar--menu-icon {
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  flex-basis: 50%;
  fill: #FFFFFF; }

.main-img {
  background-image: url("../img/piscina.jpg");
  background-position: right;
  background-size: cover;
  height: 80vh;
  width: 100%; }
  @media only screen and (max-width: 75em) {
    .main-img {
      height: 60vh; } }

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .intro__title {
    font-family: bigJohnProBold;
    display: inline-block;
    width: 70vw;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #78D4F5;
    line-height: 3rem; }
    @media only screen and (max-width: 75em) {
      .intro__title {
        font-size: 2rem; } }
  .intro__waves {
    width: 100%;
    height: 20vh;
    object-fit: fill; }

.experiences {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; }
  .experiences__title {
    width: 30vw;
    color: #706F6F;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 2px solid #706F6F;
    margin: 7rem 0;
    line-height: 0.45rem; }
    .experiences__title span {
      background: #FFFFFF;
      padding: 0 3rem; }
    @media only screen and (max-width: 75em) {
      .experiences__title {
        width: 40vw; } }
    @media only screen and (max-width: 48em) {
      .experiences__title {
        width: 50vw; } }
  .experiences__button {
    font-size: 2rem;
    padding: 1.6rem 8rem;
    background: #78D4F5;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s; }
    .experiences__button:hover {
      background-color: #0098CE;
      transition: background-color .5s; }
