@keyframes dropDown {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@keyframes dropDownReverse {
  0% { transform: scaleY(1); }
  100% { transform: scaleY(0); }
}

@keyframes zoomHeaderBackground {
  0% { transform: scale(0.9); }
  100% { trasform: scale(1.15); }
}