//////////////////////////////////////////////
//Font variables
$font-primary: 'Rubik', 'Sans Serif';

//////////////////////////////////////////////
//Colors
$primary-color: #0098CE;
$secondary-color-1: #FF936F;
$secondary-color-2: #FFCB7D;
$secondary-color-3: #EF525F;
$secondary-color-4: #01A781;
$secondary-color-5: #825418;

//////////////////////////////////////////////
//Responsive breakpoints
$bp-lg: 75em; // 1200px; //75%
$bp-md: 62em; // 992px;  //62%
$bp-sm: 48em; // 768px;  //48%
$bp-xs: 36em; // 576px;  //36%