@font-face {
  font-family: bigJohnProLight;
  src: url("../fonts/Big John PRO/bigjohnpro-light.otf") format("opentype");
}

@font-face {
  font-family: bigJohnProRegular;
  src: url("../fonts/Big John PRO/bigjohnpro-regular.otf") format("opentype");
}

@font-face {
  font-family: bigJohnProBold;
  src: url("../fonts/Big John PRO/bigjohnpro-bold.otf") format("opentype");
}

//////////////////////////////////////////////
//Font variables
$font-primary: 'Rubik', 'Sans Serif';
$font-secondary-light: bigJohnProLight;
$font-secondary-regular: bigJohnProRegular;
$font-secondary-bold: bigJohnProBold;

//////////////////////////////////////////////
//Colors
$primary-color: #0098CE;
$secondary-color-1: #FF936F;
$secondary-color-2: #FFCB7D;
$secondary-color-3: #EF525F;
$secondary-color-4: #01A781;
$secondary-color-5: #825418;
$navbar-color: #78D4F5;
$white-color: #FFFFFF;
$gray-color-1: #B5B5B5;
$gray-color-2: #706F6F;
$black-color: #000000;

//////////////////////////////////////////////
//Responsive breakpoints
$bp-lg: 75em; // 1200px; //75%
$bp-md: 62em; // 992px;  //62%
$bp-sm: 48em; // 768px;  //48%
$bp-sm1: 48.0625em; // 769px; //48.0625%
$bp-xs: 36em; // 576px;  //36%