.navbar {
  &__element {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
    @media only screen and (max-width: $bp-lg) {
      margin: 0 .45rem;
    }
    @media only screen and (max-width: $bp-sm) {
      height: 12rem;
      border-bottom: 1px solid $white-color;
    }
    &:hover::before {
      transform: scaleY(1);
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: $navbar-color;
      transform: scaleY(0);
      transition: all 0.3s;
      transform-origin: bottom;
      z-index: 1;
      @media only screen and (max-width: $bp-sm) {
        content: none;
      }
    }
    &.active {
      background-color: $navbar-color;
    }
    &.scroll, &.fixed {
      &:hover .navbar__link {
        @media only screen and (min-width: $bp-sm1) {
          color: $white-color;
        }
      }
    }
  }
  &__items {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    height: 100%;
    @media only screen and (min-width: $bp-sm1) {
      border-left: 1px $white-color solid;
    }
    @media only screen and (max-width: $bp-sm) {
      position: absolute;
      width: 100%;
      height: calc(100vh - 10rem);
      background: $navbar-color;
      top: 100%;
      left: 0;
    }
    &--dissapear {
      @media only screen and (max-width: $bp-sm) {
        display: none;
      }
    }
    &--active {
      @media only screen and (max-width: $bp-sm) {
        display: block;
        animation: dropDown .3s;
        transform-origin: top;
      }
    }
    &--inactive {
      @media only screen and (max-width: $bp-sm) {
        display: block;
        animation: dropDownReverse .3s;
        animation-fill-mode: forwards;
        transform-origin: top;
      }
    }
    &.scroll, &.fixed {
      @media only screen and (min-width: $bp-sm1) {
        border-left: 1px $navbar-color solid;
      }
    }
    &.non-scroll {
      @media only screen and (min-width: $bp-sm1){
        border-left: 1px $white-color solid;
      }
    }
  }
  &__layout {
    position: relative;
    display: flex;
    width: 100% ;
    height: 8.5rem;
    order: 2;
    justify-content: center;
    background-color: transparent;
    @media only screen and (min-width: $bp-sm1) {
      border-top: 1px $white-color solid;
    }
    @media only screen and (max-width: $bp-sm) {
      order: 1;
      width: 100%;
      justify-content: space-between;
      background-color: $navbar-color;
      position: fixed;
      top: 0;
    }
    &.scroll {
      @media only screen and (min-width: $bp-sm1) {
        animation: changeNavbarColorNonStickyTransparentToWhite 0.3s;
        animation-fill-mode: forwards;
        border-top: none;
        border-bottom: 1px $navbar-color solid;
      }
    }
    &.non-scroll {
      @media only screen and (min-width: $bp-sm1) {
        animation: changeNavbarColorNonStickyWhiteToTransparent 0.3s;
        animation-fill-mode: forwards;
      }
    }
    &.fixed {
      position: fixed;
      top: 0;
      @media only screen and (min-width: $bp-sm1) {
        animation: dropDown .3s;
        transform-origin: top;
        border-bottom: 1px $navbar-color solid;
        background-color: $white-color;
      }
    }
  }
  &__link {
    font-family: $font-secondary-regular;
    padding: 0 1.5rem;
    letter-spacing: 1px;
    outline: none;
    user-select: none;
    position: relative;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    &:link,
    &:visited,
    &:focus {
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      color: $white-color;
    }
    @media only screen and (max-width: $bp-lg) {
      padding: 0 .5rem;
    }
    &.scroll, &.fixed {
      @media only screen and (min-width: $bp-sm1) {
        color: $gray-color-1;
      }
    }
    &.non-scroll {
      @media only screen and (min-width: $bp-sm1){
        color: $white-color;
      }
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    @media only screen and (max-width: $bp-sm) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  &__logo-container {
    margin: 0 1.6rem;
    position: relative;
    width: 20rem;
    height: auto;
    @media only screen and (max-width: $bp-lg) {
      margin: 0 1rem;
    }
    @media only screen and (max-width: $bp-sm) {
      margin: 0 2rem;
    }
  }
  &__logo_img {
    width: 20rem;
    height: auto;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    @media only screen and (max-width: $bp-sm) {
      top: .5rem;
    }
    &--top {
      display: inline-block;
    }
    &--bottom {
      display: none;
      &.fixed {
        @media only screen and (min-width: $bp-sm1) {
          display: inline-block;
        }
      }
    }
    &--show {
      @media only screen and (min-width: $bp-sm1) {
        display: inline-block;
      }
    }
    &--hide {
      @media only screen and (min-width: $bp-sm1) {
        display: none;
      }
    }
  }
  &--menu-container {
    display: none;
    @media only screen and (max-width: $bp-sm) {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &--menu-icon {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    flex-basis: 50%;
    fill: $white-color;
  }
}