.margin-top-intro {
  margin-top: 6.5rem;
  @media only screen and (max-width: $bp-sm) {
    margin-top: 7.5rem;
  }
}

.margin-bottom-intro {
  margin-bottom: 6.5rem;
  @media only screen and (max-width: $bp-sm) {
    margin-bottom: 7.5rem;
  }
}
